@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply font-sans;
}

.bg-gradient {
  background: linear-gradient(135deg, #b84ed9, #e461b9 80%) !important;
}

.bg-gradient:hover {
  background: linear-gradient(135deg, #9940b4, #bc5098 80%) !important;
}

.card {
  @apply bg-white shadow-md rounded-lg border p-10;
}
